:root {
 --main-color: #677c55;
 --yellow: rgb(244, 184, 13);
}

body {
    font-family: sans-serif;
    margin: 0%;
    padding: 0%;
}

.main-container {
    display: flex;
}

.left {
    height: 100vh;
    width: 40vw;
    background-image: url("./form-images/sandie-clarke-HcqgubITDbU-unsplash.jpg");
    background-size: cover;
       
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    margin-top: 16vh;
    color: antiquewhite;
    padding: 5px 0;
    background-color: rgba(0, 0, 0, 0.4);
}

img {
    height: 80px;
    width: auto;
    margin-right: 15px;
}
/* style for links on image credits */
a:link, a:visited {
    color: rgb(225, 225, 199);
    background: local;
}

.right {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 60vw;
    background-color: lightgrey;
}

.caption{
    position: absolute;
    bottom:0;
    padding-left: 30px;
    color: rgb(225, 225, 199);
    font-size: 50%;
}

.text {
    padding-top: 3vw;
    padding-left: 5vw;
    padding-bottom: 3vw;
    font-size: clamp(16px, 3vw, 20px);
    font-weight: 600;
}

.form {
    display: flex;
    background-color: white;
    box-shadow: 0 5px 5px 4px rgba(0, 0, 0, 0.1);
    padding-top: 40px;
    padding-bottom: 40px;
}

form > div {
    
    padding: 10px;
    display: block;
    column-gap: 84px;
    margin-left: 50px;
}

input {
    
    font-family: inherit;
    width: 180px;
    height: 30px;
    margin: 2px;
    border: 1px solid #e5e7eb;
    border-radius: 4px;
    padding: 4px 12px;
}

input:hover, input:focus {
    border: 1px solid var(--yellow)
}

.inputs:hover label, .inputs:focus-within label {
    transform: translateX(10px);
    background-color: white;
    font-size: 0.6em;
    border-left: 2px solid var(--yellow);
    border-right: 2px solid var(--yellow);
    padding: 0 10px
}

label {
    font-size: 0.7rem;
    letter-spacing: 0.1rem;
    display: block;
    margin-bottom: 1px;
    position: absolute;
    padding: 10px;
    color: rgb(153, 153, 153);
    transition: 0.3s;
}

.names, .contact, .password {
    display: flex;
    flex-wrap: wrap;
}

button {
    width: 220px;
    margin-left: 50px;
    margin-top: 32px;
    border: none;
    background-color: var(--main-color);
    padding: 12px 20px;
    border-radius: 8px;
    box-shadow: 2px 5px 5px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    color: white;
    font-weight: 700;
    font-size: 1.1rem;
}

.new {
    transform: translateX(10px);
    background-color: white;
    font-size: 0.6em;
    border-left: 2px solid var(--yellow);
    border-right: 2px solid var(--yellow);
    padding: 0 10px
}