* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a:link, a:visited {
 color: rgb(225, 225, 199);
 background: local;
 
 }

 p {
    color:rgb(29, 33, 18)
 }

.main-container {
    display: flex;
}

.left {
    margin-left: 10vw;
    height: 100vh;
    width: 40vw;
    background-image: url("./form-images/sandie-clarke-HcqgubITDbU-unsplash.jpg");
    background-size: cover;
    
}

.right {
    display: flex;
    margin-right: 10vw;
    height: 90vh;
    width: 60vw;
    padding: 10vh 5vw 0vh 5vw;
    font-weight: 500;
    font-size: larger;
    background-color: lightgrey;
}

.caption{
    position: absolute;
    bottom:0;
    padding-left: 30px;
    color: rgb(225, 225, 199);
    font-size: 50%;
}