* {
    font-family: Verdana, Arial, Tahoma, Serif;
    background-color: black;
}

a:link, a:visited {
 color: rgb(225, 225, 199);
 background: local;
 
 
}


.main-container {
    display: flex;
    }

.left {
    margin-left: 10vw;
    height: 100vh;
    width: 40vw;
    background-image: url("./form-images/sandie-clarke-HcqgubITDbU-unsplash.jpg");
    background-size: cover;
    
}

.right {
    display: flex;
    margin-right: 10vw;
    height: 100vh;
    width: 60vw;
}

.left, .right {
    display: flex;
    background-color: lightgray
  
    
}

.caption{
    position: absolute;
    bottom:0;
    background: none;
    padding-left: 30px;
    color: rgb(225, 225, 199);
    font-size: 50%;
}